* {
  margin: 0;
  background: white;
}

body {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #283618;
}

.hero {
  font-family: skranji;
}

#hero-img {
  margin-bottom: 20px;
  max-height: 20vw;
  min-width: 100%;
}

.welcome-msg {
  font-size: 19px;
}

#company-name {
  font-size: 40px;
}

#form-fill-msg,
#company-name {
  margin: 15px auto;
}

form {
  display: flex;
  flex-direction: column;
  margin: 40px auto 60px;
  border: 2px solid #283618;
  border-radius: 5px;
  padding: 16px 22px;
  background: #FEFAE0;
  max-width: 300px;
  text-align: start;
}

#form-header {
  margin: 12px 0 14px 0;
  background: #FEFAE0;
  text-align: center;
  font-family: skranji;
  font-size: 20px;
}

.signup-label {
  margin: 2px 0;
  background: #FEFAE0;
  font-size: 14px;
}

.signup-input {
  margin: 8px 0 14px;
  border: 2px solid #283618;
  border-radius: 3px;
  font-size: 14px;
  line-height: 18px;
}

.error {
  display: none;
  visibility: hidden;
  margin-top: 0;
  margin-bottom: 10px;
  background: #FEFAE0;
  font-size: 12px;
  color: rgb(220, 47, 47);
}

#submit-btn {
  position: relative;
  background: #c7e075;
  margin: 14px 30%;
  border: 2px solid #283618;
  border-radius: 10px;
  padding: 4px 10px;
  font-family: skranji;
  font-size: 15px;
  color: #283618;
}

#submit-btn:hover {
  cursor: pointer;
}

#submit-btn:active {
  background: #d9e6b0;
  cursor: pointer;
}

footer {
  border-top: 20px ridge #283618;
}